fastapi
uvicorn
python-dotenv
langchain
langchain-chroma
langchain-groq
langchain-openai
langchain-text-splitters
chromadb
flashrank
ragas
datasets
sentence-transformers
pydantic
pydantic-settings
requests
